# Data preprocessing
This notebook preprocesses data downloaded from the Argo data platform to experimental data. The preprocessing precedure follows the following steps: 
- Select relevant columns and drop NAN rows
- Add global QC labels to each row
- Rename columns
- Normalize data (z-score standardization)

See Argo QC flag scale @ ./argo_qc_flag_scale.png


Input: 
- `../data/original_data/Atlantic_2019_03`

Output: 
- `../data/preprocessed_data/Atlantic_2019_03`

In [1]:
import pandas as pd
import numpy as np
import os
import csv
from datetime import datetime 
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
import matplotlib.ticker as mticker

In [2]:
ORIGINAL_DATA_DIR = '../data/original_data/Atlantic_2019_03'
PREPROCESSED_DATA_DIR = '../data/preprocessed_data/Atlantic_2019_03'
NORMALIZED_DATA_DIR = '../data/preprocessed_data/Atlantic_2019_03/normalized'

os.makedirs(PREPROCESSED_DATA_DIR, exist_ok=True)
os.makedirs(NORMALIZED_DATA_DIR, exist_ok=True)

In [3]:
# Compute data error rate
def comp_error_ratio(dataset):
    instance = dataset[(dataset['Label']==1)]
    rate=len(instance)/len(dataset)*100
    return round(rate,2)

In [4]:
# Add global QC label to each record. 
# If all QC are `1`, assign the label `0`(normal). Otherwise assign the label `1`(abnormal). 
def add_global_qc_label(df):
    values = df[['DATE_QC', 'POSITION_QC', 'PRES_QC', 'PSAL_QC', 'TEMP_QC']]
    is_all_normal = values.isin({1}).all(axis=1)
    label_values = is_all_normal.map(lambda x: 0 if x else 1)
    df['Label'] = label_values 

    print(f'Error rate: {comp_error_ratio(df)}%')
    return df

In [5]:
# Change the column names
column_map = {
              # 'PLATFORM_CODE': 'Platform_code', 
              'ID': 'ID', 
              'DATE (YYYY-MM-DDTHH:MI:SSZ)': 'Datetime',
              'LATITUDE (degree_north)': 'Latitude', 
              'LONGITUDE (degree_east)': 'Longitude', 
              'PRES (decibar)': 'Pressure', 
              'PSAL (psu)': 'Salinity', 
              'TEMP (degree_Celsius)': 'Temperature', 
              'Label': 'Label', 
            #   'PRES_QC': 'PRES_QC', 
            #   'TEMP_QC': 'TEMP_QC', 
            #   'PSAL_QC': 'PSAL_QC', 
              # 'PRES_ADJUSTED (decibar)': 'pressure_adjusted', 
              # '': '', 
             }
def change_column_names(df): 
    df.rename(columns=column_map, inplace=True)
    data = df[list(column_map.values())]
    return data

In [6]:
# Normalize data
def standardize_columns(df, columns):
    df_standardized = df.copy()
    for column in columns:
        col_mean = df[column].mean()
        col_std = df[column].std()
        df_standardized[column] = (df[column] - col_mean) / col_std
    return df_standardized

In [11]:
# Normalize date
def normalize_date_column(df, date_column, reference_date=None):
    df_normalized = df.copy()
    df_normalized[date_column] = pd.to_datetime(df_normalized[date_column])
    
    if reference_date is None:
        reference_date = df_normalized[date_column].min()

    df_normalized['DaysSinceReference'] = (df_normalized[date_column] - reference_date).dt.days
    
    col_mean = df_normalized['DaysSinceReference'].mean()
    col_std = df_normalized['DaysSinceReference'].std()
    
    df_normalized.insert(2, 'Normalized_date', (df_normalized['DaysSinceReference'] - col_mean) / col_std)
    # df_normalized['Normalized_date'] = (df_normalized['DaysSinceReference'] - col_mean) / col_std
    
    return df_normalized.drop(columns=['DaysSinceReference'])

# Sample DataFrame with a date column
data = {'Date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01'],
        'Value': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

# Normalize the 'Date' column using a reference date of '2010-01-01'
normalized_df = normalize_date_column(df, date_column='Date', reference_date=pd.Timestamp('2010-03-20'))

print("Original DataFrame:")
print(df)

print("\nNormalized DataFrame:")
print(normalized_df)

Original DataFrame:
         Date  Value
0  2022-01-01     10
1  2022-02-01     20
2  2022-03-01     30
3  2022-04-01     40
4  2022-05-01     50

Normalized DataFrame:
        Date  Value  Normalized_date
0 2022-01-01     10        -1.269007
1 2022-02-01     20        -0.613353
2 2022-03-01     30        -0.021150
3 2022-04-01     40         0.634503
4 2022-05-01     50         1.269007

### Preprocess the data

In [18]:
input_dir = ORIGINAL_DATA_DIR
output_dir = PREPROCESSED_DATA_DIR
normalized_dir = NORMALIZED_DATA_DIR
file_paths = [os.path.join(input_dir, f) for f in os.listdir(input_dir) if f.endswith('.csv')]

print(f'Input dir: {input_dir}')
print(f'Output dir: {output_dir}')
for filename in os.listdir(input_dir):
    if filename.endswith(".csv"):
        input_path = os.path.join(input_dir, filename)
        output_path = os.path.join(output_dir, filename)
        normalized_path = os.path.join(normalized_dir, filename)

        df = pd.read_csv(input_path)
        print(f'-------- {filename} --------')

        # Select relevant columns
        df = df[['DATE (YYYY-MM-DDTHH:MI:SSZ)', 'DATE_QC',
       'LATITUDE (degree_north)', 'LONGITUDE (degree_east)', 'POSITION_QC',
       'PRES (decibar)', 'PRES_QC', 'PSAL (psu)', 'PSAL_QC',
       'TEMP (degree_Celsius)', 'TEMP_QC']]
        
        # Drop NAN rows
        df= df.dropna()

        # Add ID to each sample
        df.insert(0, 'ID', range(1, len(df)+1))

        # Add global QC labels
        df = add_global_qc_label(df)
        
        # Change column names
        df = change_column_names(df)

        # Save the preprocessed data
        df.to_csv(output_path, index=False)

        # Normalize the data
        df = standardize_columns(df, ['Latitude','Longitude','Pressure','Salinity','Temperature'])

        # Normalize the date
        df.insert(1, 'Date', pd.to_datetime(df['Datetime']).dt.date)
        df.drop('Datetime', axis=1, inplace=True)
        df = normalize_date_column(df, date_column='Date', reference_date=pd.Timestamp('2015-01-01'))
        
        # Save the normalized data
        df.to_csv(normalized_path, index=False)

Input dir: ../data/original_data/Atlantic_2019_03
Output dir: ../data/preprocessed_data/Atlantic_2019_03
-------- PR_PF_4903220.csv --------
Error rate: 0.16%
-------- PR_PF_4903217.csv --------
Error rate: 33.72%
-------- PR_PF_4903058.csv --------
Error rate: 42.02%
-------- PR_PF_4903218.csv --------
Error rate: 0.84%
-------- PR_PF_4903052.csv --------
Error rate: 0.69%
-------- PR_PF_4903215.csv --------
Error rate: 76.73%
-------- PR_PF_4903054.csv --------
Error rate: 0.23%

In [19]:
df

,ID,Date,Normalized_date,Latitude,Longitude,Pressure,Salinity,Temperature,Label
0,1,2019-03-23,-1.695561,-0.680361,0.026959,-0.903329,0.913626,0.822493,0
1,2,2019-03-23,-1.695561,-0.680361,0.026959,-0.902453,0.902150,0.822605,0
2,3,2019-03-23,-1.695561,-0.680361,0.026959,-0.900953,0.919805,0.823276,0
3,4,2019-03-23,-1.695561,-0.680361,0.026959,-0.899328,0.916274,0.824060,0
4,5,2019-03-23,-1.695561,-0.680361,0.026959,-0.897765,0.916274,0.824396,0
...,...,...,...,...,...,...,...,...,...
295754,295755,2023-08-05,1.728835,-1.441171,1.993646,-0.748427,0.923336,0.804243,0
295755,295756,2023-08-05,1.728835,-1.441171,1.993646,-0.748240,0.925102,0.804131,0
295756,295757,2023-08-05,1.728835,-1.441171,1.993646,-0.747990,0.923336,0.804243,0
295757,295758,2023-08-05,1.728835,-1.441171,1.993646,-0.747865,0.922454,0.804243,0
295758,295759,2023-08-05,1.728835,-1.441171,1.993646,-0.747802,0.923336,0.804019,0